*{
    box-sizing: border-box;
}
/* .box{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;
}
.box1
{
    float:right
} */
.imge{
    float:left;
}
.banner{
    width:100%;
    /* border: 1px solid red; */
    padding: 50px;
}
p{
    clear:both;
}
.box{
    width: 50%;
    height: auto;
    /* border: 1px solid black; */
    float: left;
}
.box img
{
    border-radius: 50%;
}